[package]
name = "prover-node"
version = "0.1.0"
edition = "2021"

[dependencies]
actix-web = "4.8.0"
dotenv = "0.15.0"
tokio = { version = "1.0", features = ["full"] }
sp1-sdk = { version = "1.0.1", features = ["network", "native-gnark"] }
anyhow = "1.0.86"
aws-config = "1.5.4"
aws-sdk-s3 = "1.42.0"
bytes = "1.7.0"
futures = "0.3.30"
lazy_static = "1.5.0"
reqwest-middleware = "0.3.2"
serde = { version = "1.0.204", features = ["derive"] }
serde_json = "1.0.120"
tracing = { version = "0.1.40", features = ["attributes"] }
bincode = "1.3.3"
prost = "0.12"
twirp = { package = "twirp-rs", version = "0.3.0-succinct" }
reqwest = "0.12.5"
reqwest-retry = "0.6.0"
